<mat-sidenav-container class="container">

  <mat-sidenav mode="side" opened>

    <h2 class="logo">Smart Support Desk</h2>

    <mat-nav-list>

      <a mat-list-item routerLink="/dashboard">
        Dashboard
      </a>

      <a mat-list-item routerLink="/create-ticket">
        Create Ticket
      </a>

      <a mat-list-item routerLink="/view-tickets">
        View Tickets
      </a>

      <a mat-list-item routerLink="/analytics">
        Analytics
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>


